
	/*
	1. Use a more-intuitive box-sizing model.
	*/
	*, *::before, *::after {
	box-sizing: border-box;
	}
	/*
	2. Remove default margin
	*/
	* {
	margin: 0;
	}
	/*
	Typographic tweaks!
	3. Add accessible line-height
	4. Improve text rendering
	*/
	body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	color: white;
	background-color: #1E2631;
	font-family: Arial, Helvetica, sans-serif;
	}
	/*
	5. Improve media defaults
	*/
	img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
	}
	/*
	6. Remove built-in form typography styles
	*/
	input, button, textarea, select {
	font: inherit;
	}
	/*
	7. Avoid text overflows
	*/
	p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	}
	/*
	8. Create a root stacking context
	*/
	#root, #__next {
	isolation: isolate;
	}

	#top-bar{
	background-color: #157498;
	}

	.menu {
	display: flex;
	align-items: flex-start;
	list-style-type: none;
	font-size: 20px;
	padding-left: 500px;
	}

	.prijava {
	margin: 0 0 0 auto;
	}

	.login-form{
	display: flex;
	flex-direction: column;
	gap:1em;	
	}

	.image{
	height: 200px;
	}

	img{
	width: 100%;
	height: 100%;
	}

	li{
	padding: 10px 10px;
	}

	h1::before{
		content: "<";
		
	}

	h1 {
	font-size: 50px;
	margin-left: -40px;
	}

	h1::after {
		content: "/>";
	}

	p {
	margin: 30px 0;
	}

	.center {
	width: 1000px;
	margin: 0 auto;
	}

	.description {
	margin: 20px 0;
	}

	h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	}

	.recent-posts {
	display: flex;
	flex-wrap: wrap;
	gap: 1em 48px ;
	}


	.recent-post {
	width: 300px;
	height: 300px;
	padding: 15px;
	background-color: #243246;
	border-radius: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	}

	.post {
	background-color: #4C5E78;
	text-align: center;
	padding: 50px 30px 0 30px;
	border: 1px solid grey;
	border-radius: 15px;
	}

	.post-title {
	width: 210px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	}

	.small-date {
	font-size: 15px;
	text-align: right;
	margin-top: 5px;
	}

	.bold-menu {
	font-weight: bold;
	}

	a {
	color: white;
	text-decoration: none;
	}

	.container {
	display: flex;
	}

	.blog-recent-posts {
	display: flex;
	flex-direction: column;
	gap: 2em;
	}

	.blog-recent-post {
	height: 300px;
	padding: 15px;
	background-color: #243246;
	border-radius: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	}

	.blog-post {
	background-color: #4C5E78;
	text-align: center;
	padding: 50px 30px 0 30px;
	border: 1px solid grey;
	border-radius: 15px;
	}

	.blog-objava-recent-post {
	background-color:#1E2631;
	border-radius: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	}

	.blog-objava-post {
	background-color: #4C5E78;
	text-align: center;
	padding: 200px 30px 0 30px;
	border: 1px solid grey;
	border-radius: 15px;
	}

	.option-menu {
	display: flex;
	justify-content: flex-end;
	gap: 1em;
	}

	.option {
	background: #157498;
	padding: 12px;
	border-radius: 15px;
	margin-bottom: 2em;
	}

	.action {
	color: yellow;
	}

	.comment-title {
	margin: 0;
	}

	.comment {
	border: 5px red solid;
	background-color: #4C5E78;
	border-radius: 15px;
	border: 1px solid gray;
	margin-bottom: 10px;
	padding: 0 20px;
	}

	.addComment {
	margin: 30px 0;
	}

	
	.icon {
	height: 8vw;
	width: 8vw;
	position: absolute;
	z-index: 1;
	border: 7px solid #0CF;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(5px);
	left: 0; 
	right: 0; 
	margin: 20 auto; 
	}
